{
  "openapi": "3.0.1",
  "info": {
    "title": "External Signals API",
    "version": "1.3.0"
  },
    "servers": [
    {
      "url": "https://qv2lmqwm-7071.eun1.devtunnels.ms/api"
    }
  ],
  "paths": {
    "/price/dayahead": {
      "get": {
        "operationId": "DayAheadPrice",
        "summary": "Get day-ahead electricity prices (SEK/kWh) for 24 hours (zone=SE3 only)",
        "parameters": [
          {
            "name": "zone",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DayAheadPriceResponse"
                },
                "example": {
                  "zone": "SE3",
                  "date": "2025-09-15",
                  "unit": "SEK/kWh",
                  "values": [
                    0.65,
                    0.685,
                    0.72,
                    0.754,
                    0.789,
                    0.824,
                    0.859,
                    0.893,
                    0.928,
                    0.963,
                    0.998,
                    1.033,
                    1.067,
                    1.102,
                    1.137,
                    1.172,
                    1.207,
                    1.241,
                    1.276,
                    1.311,
                    1.346,
                    1.38,
                    1.415,
                    1.45
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/weather/hourly": {
      "get": {
        "operationId": "WeatherHourly",
        "summary": "Get hourly temperature (°C) for 24 hours (city=Stockholm only)",
        "parameters": [
          {
            "name": "city",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WeatherHourlyResponse"
                },
                "example": {
                  "city": "Stockholm",
                  "date": "2025-09-15",
                  "unit": "C",
                  "values": [
                    9.67,
                    10.46,
                    11.5,
                    12.71,
                    14,
                    15.29,
                    16.5,
                    17.54,
                    18.33,
                    18.83,
                    19,
                    18.83,
                    18.33,
                    17.54,
                    16.5,
                    15.29,
                    14,
                    12.71,
                    11.5,
                    10.46,
                    9.67,
                    9.17,
                    9,
                    9.17
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/tariffs": {
      "get": {
        "operationId": "Tariffs",
        "summary": "Get tariff meta-data",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zone",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TariffsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/incentives": {
      "get": {
        "operationId": "Incentives",
        "summary": "Get available incentive programs",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncentivesResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DayAheadPriceResponse": {
        "type": "object",
        "properties": {
          "zone": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "unit": {
            "type": "string",
            "enum": [
              "SEK/kWh"
            ]
          },
          "values": {
            "type": "array",
            "minItems": 24,
            "maxItems": 24,
            "items": {
              "type": "number"
            }
          }
        },
        "required": [
          "zone",
          "date",
          "unit",
          "values"
        ]
      },
      "WeatherHourlyResponse": {
        "type": "object",
        "properties": {
          "city": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "unit": {
            "type": "string",
            "enum": [
              "C"
            ]
          },
          "values": {
            "type": "array",
            "minItems": 24,
            "maxItems": 24,
            "items": {
              "type": "number"
            }
          }
        },
        "required": [
          "city",
          "date",
          "unit",
          "values"
        ]
      },
      "TariffsResponse": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string"
          },
          "zone": {
            "type": "string"
          },
          "tariff": {
            "type": "string"
          },
          "fixed_annual_sek": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "IncentiveItem": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "pct": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "IncentivesResponse": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string"
          },
          "incentives": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IncentiveItem"
            }
          }
        }
      }
    }
  }
}